{% extends 'base.html' %}

{% block content %}
{% if laptop_list %}
<table class="table table-bordered table-striped">      
    <!-- columns name -->
    <thead>
        <tr>
          <th>Name</th>
          <th>Brand</th>
          <th>Graphic Card</th>
          <th>Ram</th>
          <th>CPU</th>
          <th>Screen type</th>
          <th>Price</th>
          <th>
             Actions
          </th>
        </tr>
      </thead>
      <tbody id="myTable">
        {% for laptop in laptop_list %}
        <tr>
            <td>{{ laptop.name }}</td>
            <td>{{ laptop.brand }}</td>
            <td>{{ laptop.graphic_card }}</td>
            <td>{{ laptop.ram }}</td>
            <td>{{ laptop.cpu }}</td>
            <td>{{ laptop.screen_type }}</td>
            <td>{{ laptop.price }}</td>
            <td>
                <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'laptop_detail' laptop.id %}'"><i class="far fa-eye"></i></button>

                <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'laptop_update' laptop.id %}'"><i class="fas fa-edit"></i></button>

                <button type="button" class="btn btn-danger"  data-mdb-toggle="modal" data-mdb-target="#deleteModal{{laptop.id}}"><i class="far fa-trash-alt"></i></button>
            </td>


            <div class="modal fade" id="deleteModal{{laptop.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete {{laptop.name}}</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body"></div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" href = "{% url 'lapList'%}">Close</button>
                  <form action= {% url 'delete_laptop' laptop.id %} method = "POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Sure</button>
                  </form>
                  </div>
                </div>
              </div>
            </div>
    {% endfor %}
    </tbody>
    <!-- Modal -->

</table>
{% else %}
    <p>No laptops are available.</p>
{% endif %}
{% endblock %}